# URL without the http(s) protocol
BASE_URL=localhost:3000
NEXTAUTH_URL=http://${BASE_URL}
NEXT_PUBLIC_APP_ENV=development

DATABASE_URL=postgresql://YOUR_USERNAME@127.0.0.1/basetool

SECRET= # generate a secret using `openssl rand -hex 32`

EMAIL_FROM="Basetool <adrian@basetool.io>"
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=

# Set up both analytics properties
# https://developers.google.com/analytics/devguides/collection/ga4/basic-tag?technology=gtagjs
NEXT_PUBLIC_GOOGLE_ANALYTICS_UA= # universal analytics (old)
NEXT_PUBLIC_GOOGLE_ANALYTICS= # GA 4 analytics (new)

# Google Sheets integration
# https://console.cloud.google.com/apis/credentials/consent/edit?authuser=1&project=avohq-io&supportedpurview=project
GSHEETS_CLIENT_ID=
GSHEETS_CLIENT_SECRET=
GSHEETS_REDIRECT_URI=

REDIS_URL=

SENTRY_SERVER_INIT_PATH=.next/server/sentry/initServerSDK.js
SENTRY_DSN=

NEXT_PUBLIC_SENTRY_DSN=

SENTRY_ORG=avvo
SENTRY_PROJECT=avvo
SENTRY_AUTH_TOKEN=

INTERCOM_APP_ID=
INTERCOM_SECRET=
INTERCOM_ACCESS_TOKEN=

TZ=UTC

NEXT_PUBLIC_SEGMENT_PUBLIC_KEY=

AWS_S3_DS_KEYS_ACCESS_KEY_ID=
AWS_S3_DS_KEYS_SECRET_ACCESS_KEY=
AWS_S3_DS_KEYS_REGION=us-east-2

NEXT_PUBLIC_ENABLE_FULLSTORY=0
